body {
    margin-top: 250px;
    background-color:cadetblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image:url("https://wallpaperaccess.com/full/2721511.jpg");

}

h1 {
    margin-top:100px;
    color:midnightblue;
    text-indent: 70px;
}
.about{
    text-indent: 350px;
    color:midnightblue;
    font-family:cursive;
    
    margin-top:55px;
}
.skills{
    text-indent: 350px;
    color:midnightblue;  
    font-family:cursive;
    
    margin-top:30px;
}
.projects{
    text-indent: 350px;
    color:midnightblue; 
    font-family:cursive;  
    margin-top:25px;
    display:flex; 
    flex-wrap:wrap;
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white; /* pick a color */
    border-radius: 25%;
 }
.contact{
    text-indent: 350px;
    color:midnightblue; 
    font-family:cursive;
    
    margin-top:35px;
}
