body {
    margin-top: 250px;
    background-color:rgb(15, 83, 85);
    font-family:Georgia, 'Times New Roman', Times, serif;

}

h1 {
    margin-top:100px;
    color:rgb(207, 207, 207);
    text-indent: 70px;
}
.about{
    text-indent: 350px;
    color:rgb(207, 207, 207);
    font-family:cursive;   
    margin-top:55px;
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
}
.about img {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(43, 43, 43);
}
.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}
.skills{
    text-indent: 350px;
    color:rgb(207, 207, 207);  
    font-family:cursive;
    
    margin-top:30px;
}
.projects{
    text-indent: 350px;
    color:rgb(207, 207, 207); 
    font-family:cursive;  
    margin-top:25px;
    display:flex; 
    flex-wrap:wrap;
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgba(203, 202, 202, 0.384); /* pick a color */
    border-radius: 25%;
 }
 .project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(43, 43, 43); /* choose a color */
    display: block;
    margin: auto;
    }
.contact{
    text-indent: 350px;
    color:rgb(207, 207, 207); 
    font-family:cursive;
    
    margin-top:35px;
}
